[submodule "src/Command"]
	path = src/Command
	url = https://github.com/eldinomick/symfony5-command.git
[submodule "patch/patch_crud"]
	path = patch/patch_crud
	url = https://github.com/eldinomick/patch_crud.git
