<form method="post" action="{{ path('fichier_delete', {'id': fichier.id}) }}"
    onsubmit="return confirm('Etes-vous sûr de vouloir effacer cet item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ fichier.id) }}">
    <button class="btn btn-warning mt-2">Supprimer</button>
</form>