{% extends 'admin.html.twig' %}

{% block title %}Voir LiensInterne 
{% endblock %}
{% block body %} <h1>Voir LiensInterne </h1><div class="col-12">
<ul class="list-group">
<li class="list-group-item"><h6>Observation</h6>
<hr>{{liens_interne.Observation}}
<td>{{liens_interne.materiel|json_encode}}
<li class="list-group-item"><h6>Id</h6>
<hr>{{liens_interne.id}}
    </ul>
    </div>
<a href="{{ path('liens_interne_index') }}" class="btn btn-secondary mr-2" type="button">Revenir à la liste</button></a>{% endblock %}