<form method="post" action="{{ path('promotion_delete', {'id': promotion.id}) }}"
    onsubmit="return confirm('Etes-vous sûr de vouloir effacer cet item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ promotion.id) }}">
    <button class="btn btn-warning mt-2">Supprimer</button>
</form>