{% extends 'admin.html.twig' %}{% set action=path(app.request.attributes.get('_route'),
        app.request.attributes.get('_route_params'))|split('/')|last
         %}

{% block title %}{% if action=='new'  %}Création {% else %}Duplication {% endif %} User{% endblock %}

{% block body %}


<h1>{% if action=='new'  %}Ajouter {% else %}Dupliquer {% endif %} User</h1>

{{ form_start(form) }}

{{ form_widget(form) }}<button class="btn btn-primary" type="submit">Créer</button>

<a href="{{ path('user_index') }}"><button class="btn btn-secondary" type="button">Revenir à la liste</button></a>
{{ form_end(form) }}
{% endblock %}